body {
	background-color: #F4F4F4;
	font-size:110%;
	width: 960px;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
	color:#2e2d29;
	padding: 10px;
}
header, footer{
	background-color: #544948;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 2px;
}
div{
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
	width: 960px;
}
div[class="block_wrap"]{
	display: block;
	margin: 0px;
	padding-bottom: 0px;
}
div[class="control_wrap"]{
	display: block;
	margin: auto;
	width: 190px;
}
div[class="sum_wrap"]{
	margin: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #efefef;
}
div[class="total_wrap"]{
	width: 50%;
	margin: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #efefef;
	padding-top: 5px;
	border-top: 1px solid #808080;
}
table{
	width: 75%;
}
th,td{
	padding: 7px 10px 10px 10px;
}
th{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
}
tr{
	border-top: 1px solid #999;
}
tr:hover{
	background-color: #c3e6e5;
}
.title{
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
}
.sum_title{
	float: left;
	width: 200px;
	text-align: left;
	padding-right: 10px;
}
.container{
	overflow: auto;
	height: 100%;
	padding: 10px;
}
.hidden{
	display: none;
}
input, textarea{
	font-size: 110%;
	color:#5a5854;
	background-color: #F9F6EF;
	border:1px solid #b6b1a9;
	border-radius: 5px;
	padding: 5px 5px 5px 10px;
	background-repeat: no-repeat;
	background-position: 8px 8px
	display: block;
	margin-bottom: 20px;
}
input:focus, input:hover, textarea:hover, textarea:focus{
	background-color: #ffffff;
	border: 1px solid #0055b7;
}
input[type="date"]{
	margin-bottom: 0px;
}
input[type="file"]{
	width: 220px;
	font-size: 70%;
	color:#5a5854;
	background-color: #ffffff;
	border:1px solid #b6b1a9;
	border-radius: 5px;
	padding: 5px 5px 5px 10px;
	background-repeat: no-repeat;
	background-position: 8px 8px
	display: block;
	margin-bottom: 20px;
}
input[type="submit"]{
	font-size: 80%;
	background-color:#8c1515;
	color:#ffffff;
	padding: 8px 20px;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 2px solid #2e2d29;
	border-radius: 5px;
}
input[type="submit"]:hover, input[type="submit"]:active{
	background-color:#002145;
	border: 1px solid #0055b7;
	border-top: 2px solid #2e2d29;
}
button{
	font-size:80%;
	background-color:#8c1515;
	color:#ffffff;
	padding: 8px 20px;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 2px solid #2e2d29;
	border-radius: 5px;
}
button:hover, button:active{
	background-color:#002145;
	border: 1px solid #0055b7;
	border-top: 2px solid #2e2d29;
	cursor: pointer;
}
input[type="radio"]:hover{
	background-color: #F9F6EF;
}
input[class="sum"]{
	width: 50px;
	text-align: right;
}
.slider {
	-webkit-appearance: none;
	width: 50%;
	height: 1px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #8c1515;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #8c1515;
	cursor: pointer;
}